.header__logo {
  padding-top: 45px;
  padding-bottom: 40px;
  width: 142px;
  align-self: flex-start;
}

@media all and (max-width: 680px) {
  .header__logo {
    width: 100px;
    padding-top: 28px;
    padding-bottom: 30px;
  }

  @media all and (max-width: 410px) {
    .header__logo {
      padding-top: 35px;
    }
  }
}
