.profile__title {
    font-weight: 500;
    font-size: 42px;
    line-height: 1.3;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;  
    max-width: 100%; 
}


@media all and (max-width: 800px) {
    .profile__title {
        font-size: 27px;
        line-height: 2;
        
        
        }
}